@page
@model ServiceHost.Areas.Administration.Pages.Systems.QorbMoasPors.EditModel

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ویرایش پروژه @Model.Command.Name</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form method="post">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.Name" class="control-label">نام</label>
                                        <input type="text" class="form-control" asp-for="Command.Name">
                                        <span asp-validation-for="Command.Name" class="error"></span>
                                    </div>
                                </div><div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.QorbMoasPorId_sana" class="control-label">کد</label>
                                        <input type="text" class="form-control" asp-for="Command.QorbMoasPorId_sana">
                                        <span asp-validation-for="Command.QorbMoasPorId_sana" class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.QorbId" class="control-label">قرب/هلدینگ</label>
                                        <select class="form-control" asp-for="Command.QorbId" 
                                                asp-items='new SelectList(Model.Command.Qorbs, "Id", "Name")' onchange="retQorbMoasList(this.value)">
                                            <option value="Command.QorbId"></option>
                                        </select>
                                        <span asp-validation-for="Command.QorbId" class="error"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.QorbMoasId" class="control-label">موسسه</label>
                                        <select id="QorbMoas" class="form-control" asp-for="Command.QorbMoasId"
                                                asp-items='new SelectList(Model.Command.QorbMoass, "Id", "Name")'>
                                            <option value="Command.QorbMoasId"></option>
                                        </select>
                                        <span asp-validation-for="Command.QorbMoasId" class="error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Command.Slug" class="control-label">اسلاگ</label>
                                        <input type="text" class="form-control" asp-for="Command.Slug">
                                        <span asp-validation-for="Command.Slug" class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id" />

                            <button type="submit" class="btn btn-info waves-effect waves-light">ویرایش</button>
                            <a asp-page="./Index" class="btn btn-dark waves-effect waves-light m-b-5">بازگشت</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




