@page
@model ServiceHost.Areas.Administration.Pages.Jobs.Persons.EditModel

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ویرایش پرسنل @Model.Command.Nam</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form method="post">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.Nam" class="control-label">نام</label>
                                        <input type="text" class="form-control" asp-for="Command.Nam" onchange="makeSlug('Name', 'Slug')">
                                        <span asp-validation-for="Command.Nam" class="error"></span>
                                    </div>
                                </div><div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.Fam" class="control-label">نام خانوادگی</label>
                                        <input type="text" class="form-control" asp-for="Command.Fam">
                                        <span asp-validation-for="Command.Fam" class="error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.NamPed" class="control-label">نام پدر</label>
                                        <input type="text" class="form-control" asp-for="Command.NamPed">
                                        <span asp-validation-for="Command.NamPed" class="error"></span>
                                    </div>
                                </div><div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.NoShe" class="control-label">شماره شناسنامه</label>
                                        <input type="text" class="form-control" asp-for="Command.NoShe">
                                        <span asp-validation-for="Command.NoShe" class="error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.CodMelli" class="control-label">کد ملی</label>
                                        <input type="text" class="form-control" asp-for="Command.CodMelli">
                                        <span asp-validation-for="Command.CodMelli" class="error"></span>
                                    </div>
                                </div><div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.PerId" class="control-label">کد</label>
                                        <input type="text" class="form-control" asp-for="Command.PerId">
                                        <span asp-validation-for="Command.PerId" class="error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.PersonEshtegVazId" class="control-label">وضعیت اشتغال</label>
                                        <select id="PersonEshtegVaz" class="form-control" asp-for="Command.PersonEshtegVazId"
                                                asp-items='new SelectList(Model.Command.PersonEshtegVazs, "Id", "Name")'>
                                            <option value="Command.PersonEshtegVazId"></option>
                                        </select>
                                        <span asp-validation-for="Command.PersonEshtegVazId" class="error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.PersonOzvNoaId" class="control-label">نوع عضویت</label>
                                        <select id="PersonOzvNoa" class="form-control" asp-for="Command.PersonOzvNoaId"
                                                asp-items='new SelectList(Model.Command.PersonOzvNoas, "Id", "Name")'>
                                            <option value="Command.PersonOzvNoaId"></option>
                                        </select>
                                        <span asp-validation-for="Command.PersonOzvNoaId" class="error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.QorbId" class="control-label">قرب/هلدینگ</label>
                                        <select class="form-control" asp-for="Command.QorbId"
                                                asp-items='new SelectList(Model.Command.Qorbs, "Id", "Name")' onchange="retQorbMoasList(this.value)">
                                            <option value="Command.QorbId"></option>
                                        </select>
                                        <span asp-validation-for="Command.QorbId" class="error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.QorbMoasId" class="control-label">موسسه</label>
                                        <select id="QorbMoas" class="form-control" asp-for="Command.QorbMoasId"
                                                asp-items='new SelectList(Model.Command.QorbMoass, "Id", "Name")' onchange="retQorbMoasPorList(this.value)">
                                            <option value="Command.QorbMoasId"></option>
                                        </select>
                                        <span asp-validation-for="Command.QorbMoasId" class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.QorbMoasPorId" class="control-label">پروژه</label>
                                        <select id="QorbMoasPor" class="form-control" asp-for="Command.QorbMoasPorId"
                                                asp-items='new SelectList(Model.Command.QorbMoasPors, "Id", "Name")' onchange="retQorbMoasPorKarList(this.value)">
                                            <option value="Command.QorbMoasPorId"></option>
                                        </select>
                                        <span asp-validation-for="Command.QorbMoasPorId" class="error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.QorbMoasPorKarId" class="control-label">کارگاه</label>
                                        <select id="QorbMoasPorKar" class="form-control" asp-for="Command.QorbMoasPorKarId"
                                                asp-items='new SelectList(Model.Command.QorbMoasPorKars, "Id", "Name")'>
                                            <option value="Command.QorbMoasPorKarId"></option>
                                        </select>
                                        <span asp-validation-for="Command.QorbMoasPorKarId" class="error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Command.Slug" class="control-label">اسلاگ</label>
                                        <input type="text" class="form-control" asp-for="Command.Slug">
                                        <span asp-validation-for="Command.Slug" class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id" />

                            <button type="submit" class="btn btn-info waves-effect waves-light">ویرایش</button>
                            <a asp-page="./Index" class="btn btn-dark waves-effect waves-light m-b-5">بازگشت</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




